<app-nav />

<div class="header"></div>

<div class="h-screen"></div>

<div class="flex flex-column align-items-center relative">
  <!-- Your content goes here -->
  <h1 class="mt-0">ShowTime band - since 2014.</h1>
  <p>
    Naš band za svadbe je profesionalna glazbena grupa koja će dodati
    nezaboravan šarm i atmosferu vašem velikom danu. Sa širokim repertoarom koji
    obuhvaća sve žanrove, klasičnih balada do modernih hitova, osiguravamo da će
    svaki gost pronaći nešto za sebe. S našom energičnom izvedbom i talentiranim
    glazbenicima, vaša svadba će biti ne samo svečana, već i nevjerojatno
    zabavna. Prepustite nam glazbenu pratnju i uživajte u bezbrižnom slavlju dok
    mi stvaramo nezaboravne trenutke za vas i vaše goste.
  </p>
</div>

<app-footer />
